@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
}

/* Modern Scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Set scrollbar width */
}

::-webkit-scrollbar-track {
    background: #1f1f1f; /* Background of the track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6e54b5; /* Scrollbar thumb color */
    border-radius: 10px; /* Make the scrollbar round */
}

::-webkit-scrollbar-thumb:hover {
    background: #5b4291; /* Darker color on hover */
}
